- const fullname = "Your Name"
-
  const contacts = {
    phone: {
      text: "+00 000 000 00 00",
      link: "tel:+000000000",
      icon: "phone.svg"
    },
    email: {
      text: "your@mail.adr",
      link: "mailto:your@mail.adr",
      icon: "mail.svg"
    },
    address: {
      text: "State-City / Country",
      icon: "address.svg"
    }
  }

-
  const links = {
    linkedin: {
      icon: "linkedin.svg",
      link: "http://linkedin.com/",
      text: "LinkedIn Profile"
    },
    portfolio: {
      icon: "website.svg",
      link: "http://your.domain.com",
      text: "Portfolio Website"
    },
    github: {
      icon: "github.svg",
      link: "http://github.com/",
      text: "Github Projects"
    }
  }

-
  const languages = [
    {
      icon: "england.png",
      text: "English"
    }
  ]

-
  const hobbies = [
    {
      icon: "video.svg",
      text: "Watching movies"
    },
    {
      icon: "book.svg",
      text: "Reading books"
    },
    {
      icon: "music.svg",
      text: "Listening music"
    },
    {
      icon: "pet.svg",
      text: "Petting animals"
    }
  ]

-
  const aboutme = [
    "Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aliquid rerum recusandae dolorum cupiditate velit eos, quod exercitationem in blanditiis omnis odio laudantium illum veritatis incidunt ex! Nam, earum eaque architecto nesciunt nulla tempore, corporis consequuntur voluptatem quibusdam ab minus facere, velit quam! Laudantium facere neque asperiores vel adipisci reiciendis excepturi dolorem animi, officiis nulla commodi? Dolor nihil praesentium magnam atque.",
    "Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."
  ]

-
  const schools = [
    {
      logo: "university.svg",
      icon: "bachelor.svg",
      text: "Department Name (B.S.)",
      date: "2000-2000",
      name: "University Name"
    },
    {
      logo: "university.svg",
      icon: "associate.svg",
      text: "Department Name (T.A.)",
      date: "2000-2000",
      name: "University Name"
    },
  ]

-
  const experiences = [
    {
      text: "Job Title",
      date: "Feb 2000 - May 2000",
      icon: "employee.svg",
      name: "Company Name"
    },
    {
      text: "Job Title",
      date: "Feb 2000 - May 2000",
      icon: "employee.svg",
      name: "Company Name"
    }
  ]

-
  const skills = [
    {
      title: "Office Suites",
      icons: [
        "word.png",
        "excel.png",
        "powerpoint.png"
      ],
      small: "Word · Excel · PowerPoint"
    },
    {
      title: "Design",
      icons: [
        "canva.png",
      ],
      small: "Canva"
    },
  ]

-
  const certificates = [
    {
      logo: "certificate.svg",
      link: "link-to-certificate",
      name: "Certificate Name",
      from: "Issued from"
    },
    {
      logo: "certificate.svg",
      link: "link-to-certificate",
      name: "Certificate Name",
      from: "Issued from"
    },
    {
      logo: "certificate.svg",
      link: "link-to-certificate",
      name: "Certificate Name",
      from: "Issued from"
    },
    {
      logo: "certificate.svg",
      link: "link-to-certificate",
      name: "Certificate Name",
      from: "Issued from"
    },
    {
      logo: "certificate.svg",
      link: "link-to-certificate",
      name: "Certificate Name",
      from: "Issued from"
    },
    {
      logo: "certificate.svg",
      link: "link-to-certificate",
      name: "Certificate Name",
      from: "Issued from"
    },
  ]

-
  const projects = [
    {
      icon: "projectlogo.svg",
      link: "https://github.com",
      name: "Project Name",
      desc: "Project description."
    },
    {
      icon: "projectlogo.svg",
      link: "https://github.com",
      name: "Project Name",
      desc: "Project description."
    },
    {
      icon: "projectlogo.svg",
      link: "https://github.com",
      name: "Project Name",
      desc: "Project description."
    },
    {
      icon: "projectlogo.svg",
      link: "https://github.com",
      name: "Project Name",
      desc: "Project description."
    },
    {
      icon: "projectlogo.svg",
      link: "https://github.com",
      name: "Project Name",
      desc: "Project description."
    },
    {
      icon: "projectlogo.svg",
      link: "https://github.com",
      name: "Project Name",
      desc: "Project description."
    },
    {
      icon: "projectlogo.svg",
      link: "https://github.com",
      name: "Project Name",
      desc: "Project description."
    },
    {
      icon: "projectlogo.svg",
      link: "https://github.com",
      name: "Project Name",
      desc: "Project description."
    }
  ]